$size: 6px;

.column-resizer {
  flex-shrink: 0;
  width: $size;
  cursor: col-resize;
  z-index: 3;
  transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;

  &:hover,
  &.active {
    background: var(--active);
  }
}
