@import '../../assets/mixins.scss';

.table-main {
  width: 100%;
  border: 1px solid var(--separator);
  overflow-x: auto;
  position: relative;

  table {
    width: 100%;
    border-spacing: 0;
    display: grid;

    thead,
    tbody,
    tr {
      display: contents;
    }
  }

  .table-row {
    position: relative;

    &:nth-child(even) .table-cell {
      background-color: var(--alternateCellBg);
    }

    &.selected .table-cell {
      background-color: var(--active) !important;
      font-weight: 500;

      a {
        color: var(--linksDark);
      }
    }
  }

  .table-header-cell-wrapper {
    border-bottom: 1px solid var(--separator);
    background: var(--headerCellBg);
    color: var(--headerCellText);
    font-weight: 700;
    transition: opacity 0.3s;
  }

  .table-header-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    &.reorderable {
      cursor: move;
    }

    &.sortable {
      cursor: pointer;

      & > div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &:hover .sort-indicator.none {
          opacity: 1;
        }
      }

      .sort-indicator {
        &.none {
          width: 15px;
          position: relative;
          opacity: 0.5;
          transition: opacity ease-out 0.3s;

          &::before,
          &::after {
            content: '';
            @include triangle(var(--headerCellText), 15px);
            position: absolute;
          }
          &::before {
            top: -15px;
          }
          &::after {
            transform: rotate(180deg);
            top: 2px;
          }
        }

        &.asc,
        &.desc {
          @include triangle(var(--headerCellText), 15px);
        }
        &.desc {
          transform: rotate(180deg);
        }
      }
    }

    &.draggedOver {
      opacity: 0.7;

      &.fromRightSide {
        border-right: 5px solid black;
      }
    }
  }

  .table-cell {
    padding: 0.5rem 1rem;
    text-align: left;
    min-height: 44px;
    position: relative;

    &:not(.table-header-cell-wrapper) {
      background: var(--cellBg);
      color: var(--text);
    }

    .color-box {
      width: 28px;
      height: 28px;
      margin: 0 auto;
    }

    .color-cell-wrapper {
      display: flex;

      .color-box {
        margin: 0;
        margin-right: 10px;
        flex-shrink: 0;
      }
    }

    &.pinned {
      position: sticky;
      border-right: 1px solid var(--separator);
      height: 100%;
      z-index: 1;
    }
  }

  &.selectable-rows tbody .table-row {
    .table-cell {
      transition: background 0.3s ease-out;
    }
    &:hover .table-cell {
      background: var(--rowHover);
    }
  }
}

.table-wrapper {
  position: relative;

  & > .table-header,
  & > .table-footer {
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -0.5rem;

    & > * {
      margin-right: 1rem;
      margin-top: 0.5rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  & > .table-header {
    .table-name {
      color: var(--headerText);
      text-transform: uppercase;
      font-weight: 800;
    }

    .table-actions {
      position: relative;
      flex: 0.5;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .icon path,
      ellipse,
      line {
        stroke: var(--textAgainstNoBg);
      }

      & > *:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

.table-loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.table-message {
  padding: 0.5rem 1rem;
  background: var(--cellBg);
  color: var(--text);
}
